<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{Dance page}</title>
    style 
        include index.css
</head>
<body>
    <nav id="navbar" class="top">
       <!-- | "this" to write any thing on the pug file html we have to use "|" (pipe character) that will show as it is on the web page -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/">Class Info</a></li>
        </ul>
    </nav>
    <section id="intro">
        <h1>Dance Academy</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, officiis!</p>
    </section>
    <!-- <section id="mission">
        | Our Mission
        <h2>Our Mission</h2>
        <div class="card">
            <h3>Photo Gallery</h3>
        </div>
        <div class="card">
            <h3>Dance Teaching</h3>
        </div>
        <div class="card">
            <h3>Alumni </h3>
        </div>
    </section>
    <section id="sponsor">
        <h2>Our Sponsor</h2>
        |sponsor Section
    </section>
    <footer id="footer">
        | Footer
    </footer> -->
</body>
</html>