extends base.pug

//- block script 
//-     script(src="index.js") 

block style 
    style 
        include index.css 

block content 
    
    section#intro
        h1 Dance Academy
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, officiis!